/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
 animation-duration: 0.01ms !important;
 animation-iteration-count: 1 !important;
 transition-duration: 0.01ms !important;
 scroll-behavior: auto !important;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd, 
a {
  margin: 0px;
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
 
/* Remove all animations and transitions for people that prefer not to see them */

.wrapper{
	min-height: 600px;
  background-color: #c3dfd9;
}

.wrapper__content{	
  background-color: #c3dfd9;
  height: auto;
}
.bl__logo{
	display: flex;
    margin-left: 10px;
}
.tv__one{
	border-radius: 15px;
	width: 130px;
	height: 30px;
	background-color: #46D29B;
  margin-top: 18px;
}
.tv__two{
	position: absolute;
	left: 79px;
    border-radius: 15px;
	width: 79px;
	height: 30px;
	background-color: #28AAA7;
  margin-top: 18px;
}
.tv__one p{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	color: #fff;
	padding: 7px 21px;
}
.tv__two p{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	color: #fff;
  padding: 7px 12px;
}
img{
	width: 175px;
    height: 125px;
    margin: auto;
    margin-top: 20px;
}
.zgl__login{
  margin-top: 0px;
  margin-bottom: 34px;
  font-size: 24px;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	font-weight: 100;
}
.bl__registr p{
	margin: -8px 0px 35px 0px;
    text-align: center;
    color: #959595;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.input__regstr input{
  margin: 0px 0px 10px 0px;
  border-radius: 10px;
  width: 310px;
  height: 50px;
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 0px 0px 3px 20px;
  box-shadow: 0px 4px 22px -10px rgb(0 0 3 / 58%);
}
.input__regstr{
  width: 100%;
  height: auto;
  padding: 0px 0px 30px 0px;
  background: #c3dfd9;
  border-radius: 10px;
  margin: auto;
}
.icons__style-one{
	color: #C4C4C4;
    position: absolute;
    top: 287px;
    left: 16px;
}
.icons__style-two{
    color: #C4C4C4;
    position: absolute;
    top: 337px;
    left: 16px;

}
a{
	text-decoration: none;
	color: #C4C4C4;      /*<<<<<<<<<<<<<<<<<<<<<<<<<<<Исправить!!!!!!!!!!*/
}
.input__regstr h3{
  margin: 13px;
  font-weight: 400;
}


.cont__bl-reg p{
     text-align: center;
     color: #959595;
}
.cont__bl-reg span{
     color: #577CFF;
 }
.display__input{
   display: flex;
   justify-content: center;
}
.src__password{
  position: relative;
    right: 90px;
    display: flex;
    justify-content: center;
}

/*===========стили div в cards Registration.jsx=============*/
.zgl__login--card--reg{
  margin-top: 34px;
  margin-bottom: 11px;
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-weight: 100;
}

.cont__bl--card--reg{
  margin-bottom: 43px;
    text-align: center;
    color: #959595;
}
.cont__bl--card--reg p{
  text-align: center;
  color: #959595;
}
.cont__bl--card--reg span{
  color: #577CFF;
}
/*===========стили div в cards Registration.jsx=============*/
/*Стили компонента Button*/
.btn__burger{
	width: 60px;
  margin: 0 auto;
}
.btn__burger {
  /* width: 100%; */
  margin-top: 20px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn__burger  {
    font-size: 21px;
    padding: 6px;
    min-width: 140px;
    /* max-width: 200px; */
    height: 47px;
    border-radius: 8px;
    border: 0px solid;
    background: #ffeb4994;
    box-shadow: 0px 1px 4px 1px rgb(217 176 0 / 39%);
}
.button--outline{
  min-width: 116px;
  height: 35px;
  border-radius: 8px;
  border: 0px solid;
  background: #a9a8ff;
    -webkit-box-shadow: 0px 4px 22px -12px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 4px 22px -12px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 22px -12px rgba(0, 0, 0, 0.3);
}


/*Стили компонента Button*/

/*===========стили div в cards Repair.jsx=============*/
.repair__page-img  {
  width: 183px;
  height: 186px;
}


.input__time-date input{
  margin: 2px 2px 10px 2px;
  border-radius: 10px;
  width: 152px;
  height: 55px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  padding: 0px 0px 3px 20px;
  box-shadow: 0px 4px 22px -10px rgb(0 0 3 / 58%);
}
.input__time-date {
  display: flex;
  justify-content: center;
}
.block__time-date{
  display: flex;
  justify-content: center;
}   
textarea{
  border: 1px solid #f1f1f1;
  padding: 12px;
  width: 96%;
  font-size: 20px;
  height: 123px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0px auto;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 1px 4px 1px rgb(34 60 80 / 20%);

}
/*===========стили div в cards Repair.jsx=============*/

/*===========стили div в cards Settings.jsx=============*/ /*объеденил стили двух компонентов в одном*/
/*===========стили div в cards СardOrder.jsx=============*/
.order__content-telefon{
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: 50px;
  background: #ffffff;
  margin-top: 18px;
  margin-bottom: 10px;
  padding: 14px;
}
.order__content{
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 1px;
  padding: 19px 7px 19px 9px;
}
.status__order{
  width: 103px;
  font-size: 10px;
  margin: auto;
  color: #979797;
  text-align: center;
}
.bl_heitgh--crOrder{
  height: 100px;
}
/*===========стили div в cards Settings.jsx=============*/ /*объеденил стили двух компонентов в одном*/
.title__contacts{
  margin: 0px 0px 7px 10px;
  font-family: sans-serif;
  color: #525252;
  font-size: 14px;
}
.title__menu{
  font-size: 12px;
  color: #525252;
  font-family: sans-serif;
}
.title__text{
  font-family: sans-serif;
  font-size: 16px;
}
.svg__content{
  margin: 6px 10px 0px 0px;
}
.container__fasource{
  display: flex;
}
.forward{
  position: relative;
  top: 8px;
}
.forward__lastname{
  position: relative;
  top: 3px;
}
.forward__lastname svg{
  color: black;
}
.forward svg{
  color: black;
}

/*===========стили div в cards Settings.jsx=============*/ /*объеденил стили двух компонентов в одном*/
/*===========стили div в cards СardOrder.jsx=============*/




/*===========стили div в cards CardDescription.jsx=============*/
.content__discription-order{
  width: 100%;
  background: azure;
  height: 456px;
  margin-top: 64px;
}
.content-p{
  padding-top: 60px;
  padding-left: 20px;
}
.content-p p{
  margin-bottom: 30px;
}
.breakdowns{
  padding-left: 20px;
}
/*===========стили div в cards CardDescription.jsx=============*/


/*===========компонент ButtonBack.jsx=============*/
.button__back-flex button{
  position: relative;
  left: 13px;
  top: 60px;
}
.button__back svg{
  color: black; 
position: relative;
top: 6px;
left: 6px;
}
.button__back{
  position: relative;
  top: 63px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.2);
}

/*===========компонент ButtonBack.jsx=============*/




/*===========компонент NavigationBottom.jsx=============*/
.conteiner__navigation{
  position:fixed;
  left:0;
  bottom:0px;
  overflow:scroll;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;

  box-shadow: 1px 0px 8px 2px rgb(34 60 80 / 15%);

}
.block__navigation::after{
  color: #FFFA8E;
}
.conteiner__navigation__block{
  display: flex;
}
.block__navigation{
  padding: 2px 14px 2px 14px;
  text-align: center;
}
.block__navigation svg{
  position: relative;
  top: 9px;
  color: rgb(126 126 126);;
}
.block__navigation a{
  color: rgb(0, 0, 0);
  font-size: 10px;
  padding-top: 2px;
  
}
.block__navigation svg:active{
  color: #FFFA8E;
}

/*===========компонент NavigationBottom.jsx=============*/

textarea:focus-visible {
  outline: 1px solid rgb(189, 189, 189);
}

input:focus-visible {
  outline: 1px solid rgb(189, 189, 189);
}